{# templates/eventsList/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier Événement{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Modifier Événement</strong></h1>
                <br><br>
                <h3>Formulaire de modification d’événement.</h3>
                <br>
                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'col-form-label'}}) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-form-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.dateTime, 'Date & Heure', {'label_attr': {'class': 'col-form-label'}}) }}
                    {{ form_widget(form.dateTime, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.dateTime) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.maxParticipants, 'Participants maximum', {'label_attr': {'class': 'col-form-label'}}) }}
                    {{ form_widget(form.maxParticipants, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.maxParticipants) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.isPublic, 'Événement public', {'label_attr': {'class': 'col-form-label'}}) }}
                    {{ form_widget(form.isPublic, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.isPublic) }}
                </div>

                <button class="btn btn-primary">Enregistrer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}